In [0]:
import pandas as pd
import json

In [0]:
df = pd.read_csv("teste_debug.csv", header=None)

In [0]:
with open("templates_0.txt", "r") as f:
  template = f.read()
  template = template.replace("frozenset(","").replace(")","").replace("{","[").replace("}","]")
  template = json.loads(template)

In [10]:
t1 = template[0]
correferente = df[df.iloc[:,-1] == 1]
correferente.shape

(18, 601)

In [0]:
unique_values = correferente[t1].drop_duplicates().reset_index(drop=True)

In [13]:
unique_values

    41   140  20   341  440
0     5    4    3    6  5.0
1     0    9    9    0  9.0
2     3    0    9    0  9.0
3     3    0    9    3  0.0
4     2    0    7    3  0.0
5     2    0    7    0  9.0
6     0    0    9    2  1.0
7     1    7    8    2  0.0
8     1    7    8    3  0.0
9     1    7    8    0  9.0
10    3    2    8    1  0.0

In [15]:
unique_values.apply(lambda row:[int(row.name * 10 + x)  for x in row])

    41    140  20    341   440
0   415  1404  203  3416  4405
1   410  1409  209  3410  4409
2   413  1400  209  3410  4409
3   413  1400  209  3413  4400
4   412  1400  207  3413  4400
5   412  1400  207  3410  4409
6   410  1400  209  3412  4401
7   411  1407  208  3412  4400
8   411  1407  208  3413  4400
9   411  1407  208  3410  4409
10  413  1402  208  3411  4400

# Pickled

In [1]:
import pickle

In [2]:
with open(r"D:\ProjetoFinal\data\decision_tree\features.dat","rb") as f:
    features = pickle.load(f)

In [4]:
for idx, df in enumerate(features):
    print(f"{idx}:{df.columns}")

0:Int64Index([354, 349, 282, 210], dtype='int64')
1:Int64Index([573, 282, 153], dtype='int64')
2:Int64Index([349, 282, 210], dtype='int64')
3:Int64Index([573, 282], dtype='int64')
4:Int64Index([349, 123, 282], dtype='int64')
5:Int64Index([349, 282], dtype='int64')
6:Int64Index([479, 91, 248, 362, 578], dtype='int64')
7:Int64Index([91, 362], dtype='int64')
8:Int64Index([479, 91, 248, 362, 323], dtype='int64')
9:Int64Index([479, 91, 362, 248], dtype='int64')
10:Int64Index([479, 91, 362], dtype='int64')
11:Int64Index([572, 452, 154, 97], dtype='int64')
12:Int64Index([154, 97], dtype='int64')
13:Int64Index([349, 97], dtype='int64')
14:Int64Index([452, 154, 97], dtype='int64')
15:Int64Index([223, 368], dtype='int64')
16:Int64Index([127, 537, 438, 20, 524], dtype='int64')
17:Int64Index([438, 524, 20], dtype='int64')
18:Int64Index([438, 20], dtype='int64')
19:Int64Index([375, 438, 288], dtype='int64')
20:Int64Index([537, 86, 438, 20, 524], dtype='int64')
21:Int64Index([438, 20, 132], dtype='int64')
22:Int64Index([375, 438], dtype='int64')
23:Int64Index([375, 438, 144, 333, 288], dtype='int64')
24:Int64Index([438, 524, 20, 537], dtype='int64')
25:Int64Index([375, 438, 333, 288], dtype='int64')
26:Int64Index([438, 20, 410, 132], dtype='int64')